<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logPrefix" value="dao." />
	</settings>

	<typeAliases>
		
		<typeAlias alias="StoreUser" type="com.liyibo1110.gemsshop.store.manager.server.entity.StoreUser" />
		
	</typeAliases>
	<!-- <typeHandlers>
		<typeHandler
			handler="com.liyibo1110.gemsshop.store.manager.server.typehandler.IntegerArrayTypeHandler"
			javaType="[Ljava.lang.Integer;" jdbcType="INTEGER" />
	</typeHandlers> -->
	
</configuration> 